/* a i {
  font-size: 30px;
  width: 30px;
} */
/*TIAGO'S SPACE*/
footer {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 300px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
  /* border-top: 2px solid grey;
  border-bottom: 1px solid grey; */
}
.footer-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid grey;
  height: 50px;
  margin-bottom: 20px;
}
.footer-title h2 {
  align-self: center;
}
.footer-title a {
  color: rgb(86, 123, 149);
  font-size: 13px;
  align-self: flex-end;
}

.footer-main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  /* border: 1px solid black; */
}
.footer-main-column {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}
.footer-main-column h3 {
  font-size: 13px;
  font-weight: 700;
  color: rgb(51, 51, 51)
}
.footer-main-column a {
  width: 150px;
  font-size: 14px;
  color: rgb(51, 51, 51)
}

.footer-bottom a:hover,
.footer-title a:hover,
.footer-main-column a:hover {
  text-decoration: underline;
}

.footer-navBar-size {
  width: 200px;
  border-left: 1px solid gray;
  padding-left: 15px;
  
}

.footer-navBar-1list {
  /* border: 1px solid black; */
  
  
}
.footer-navBar-1list a {
  /* color: red; */
  font-size: 14px;
  font-weight: 700;
  
}

.footer-navBar-2ist  {
  border-bottom: 1px solid black;
  
}

.footer-navBar-2list a {
  /* color: blue; */
font-size: 11px;

}

.footer-navBar-3list {
  border-top: 1px solid grey;
  
}

.footer-navBar-3list a{
  /* color: green; */
  font-size: 11px;
  
}



.footer-bottom {
 display: flex;
 justify-content: space-around;
 padding-top: 10px;
}
.footer-bottom a{
  color: #666;
  font-size: 11px;
}



/*  */
body {
  font-size: 20px;
  color: #333;
  line-height: 30px;
}
p {
  margin-bottom: 30px;
}

.fixing-navBar {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background-color: white;
}

/* navBar */
.navBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid grey;
  align-items: baseline;
}
.left-navBar {
  /* border: 1px solid black; */
  padding-left: 10px;
}

.left-navBar a {
  margin-right: 20px;
  font-size: 16px;
  opacity: 0.8;
}
.left-navBar a:hover {
  opacity: 0.4;
}

.space {
  font-weight: 600;
  opacity: 0.8;
}
.space:hover {
  text-decoration: underline;
}

.navBar h3 {
  font-weight: 600;
}
.right-navBar {
  align-items: baseline;
}

.right-navBar button {
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 2px;
  height: 32px;
  color: white;
  margin-left: 10px;
  font-weight: 700;
}

/*mainImage*/
.mainImage {
  /* border: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 1000px;
}

.mainImage img {
  width: 1000px;
  height: auto;
}

.mainImage h1 {
  font-size: 35px;
  font-weight: 600;
  /* margin-top: 80px; */
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 300px;
  padding-bottom: 20px;
  line-height: 45px;
  font-style: italic;
}

.mainImage p {
  color: #666;
  font-size: 16px;
  padding-right: 50px;
  margin-top: 10px;
  width: 900px;
  border-right: 20px;
  line-height: 20px;
}

.mainImage p span {
  font-size: 12px;
  opacity: 0.7;
}

/* firstArticle */

.article {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  /* line-height: 30px; */
}

/*ICONS BOX*/
.main-box-items {
  /* border: 1px solid black; */
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.box-items-left {
  /* border: 1px solid black; */
  width: 300px;
}
.box-items-left p {
  color: #333;
  font-weight: 600;
  text-decoration: underline;
}
.box-items-left p:hover {
  text-decoration: none;
}

.box-items-left span {
  color: #333;
  font-size: 16px;
}

.box-items-right {
  /* border: 1px solid black; */
  width: 300px;
  margin-top: 45px;
  /* font-size: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.box-items-right a {
  font-size: 22px;
  padding-left: 15px;
  opacity: 0.8;
}
.box-items-right a :hover {
  opacity: 0.4;
}

/* second article*/
.article2-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
  justify-items: ;
  margin-left: calc((100% - 600px) / 2);
  margin-right: auto;
}

.article2 {
  width: 600px;
  /* margin-right: 300px; */
  /* margin-left: calc((100% - 600px) / 2) */
}

.aside-container {
  /* border: 1px solid black; */
  width: 210px;
  display: flex;
  flex-direction: column;
  padding-top: 950px;
}
.aside-container > h3 {
  /* color: red; */
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 12px;
  margin-bottom: 15px;
  border-bottom: 1px solid gray;
}

.aside-container-box {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.aside-container-box img {
  width: 75px;
  height: 75px;
}

.aside-container-box h3 {
  font-size: 14px;
  /* border: 1px solid black; */
  /* margin: 22px 0  22px 10px; */
  padding-left: 10px;
  padding-top: 5px;
  line-height: 15px;
}
.aside-container-box h3:hover {
  text-decoration: underline;
}

.aside-container-box h3 span {
  font-weight: 700;
}

/ #fourthh3 {
  margin-top: 0px;
}
.subtext::before {
  content: "";
  display: block;
  margin: 0px auto 20px auto;
  width: 12.5%;
  border-bottom: 1px solid gray;
}

.subtext {
  text-align: center;
  line-height: 20px;
  margin-bottom: 30px;
}
.subtext:after {
  content: "";
  display: block;
  margin: 20px auto 0px auto;
  width: 12.5%;
  border-bottom: 1px solid gray;
}

.subtext p {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 800;
}

.subtext a {
  font-size: 16px;
  color: rgb(50, 104, 145);
  font-weight: 700;
}

.article-bluelink {
  color: rgb(50, 104, 145);
  text-decoration: underline;
  font-weight: 200;
}
.article-bluelink:hover {
  text-decoration: none;
  cursor: pointer;
}

/* article4 video */
.video-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.video-container p {
  color: #666;
  line-height: 20px;
  font-size: 16px;
  padding-right: 100px;
}
.video-container p span {
  opacity: 0.5;
  font-size: 14px;
}

.article4-bottom-text,
.article4-bottom-text a {
  font-size: 12px;
  color: gray;
  line-height: 20px;
}
.article4-bottom-text a:hover {
  text-decoration: underline;
}

.article4-footer {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.article4-footer button {
  width: 300px;
  background-color: #567b95;
  color: white;
}
.article4-footer button:hover {
  background-color: blue;
  cursor: pointer;
}

.article4-icons {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  font-size: 24px;
}

.article4-icons a {
  padding-left: 15px;
  font-size: 20px;
  opacity: 0.8;
}

.article4-icons a :hover {
  opacity: 0.4;
}

/* article4 image */
.article4-img-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.article4-img-container img {
  width: 600px;
  height: auto;
}

.article4-img-container p {
  color: #666;
  line-height: 20px;
  font-size: 16px;
  padding-right: 50px;
}
.article4-img-container span {
  opacity: 0.5;
  font-size: 14px;
}

/*GRACE'S SPACE*/
.article3 h3 {
  text-align: left;
  border: 1px solid black;
  font-weight: 700;
}
#article3-p {
  color: #666666;
  font-size: 16px;
  border: 1px solid black;
}

.article3 {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.article3-subtext1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  line-height: 17px;
}

.article3-subtext1 span {
  font-size: 12px;
  font-weight: bolder;
}

.article3-subtext2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  line-height: 17px;
}

.article3-subtext2 span {
  font-size: 12px;
  font-weight: bolder;
}

.article3-subtext1 p {
  font-size: 15px;
}

.article3-subtext2 p {
  font-size: 15px;
}

#subtext1 {
  font-size: 15px;
}

#subtext2 {
  font-weight: 700;
  margin-bottom: 10px;
}

#subtext1::before {
  content: "";
  display: block;
  margin: 7px;
  width: 12%;
  border-bottom: 1px solid black;
}
