body {
  font-size: 20px;
  color: #333   ;
}
p {
  margin-bottom: 30px;
}

.fixing-navBar {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    background-color: white;
}


/* navBar */
.navBar {
  
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid grey;
  align-items: baseline;
  
}
.left-navBar {
  /* border: 1px solid black; */
  padding-left: 10px;
}

.left-navBar a {
  margin-right: 20px;
  font-size: 16px;
  opacity: 0.8;
}
.left-navBar a:hover{
    opacity: 0.4;
}

.space {
    font-weight: 600;
    opacity: 0.8;
    
}
.space:hover{
    text-decoration: underline;
}

.navBar h3 {
    font-weight: 600;
}
.right-navBar {
    align-items: baseline;
}

.right-navBar button {
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 2px;
  height: 32px;
  color: white;
  margin-left: 10px;
  font-weight: 700;
}


/*mainImage*/
.mainImage {
  /* border: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 1000px;
}

.mainImage img {
  width: 1000px;
  height: auto;
}

.mainImage h1 {
  
  font-size: 35px;
  font-weight: 600;
  /* margin-top: 80px; */
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 300px;
  padding-bottom: 20px;
  line-height: 45px;
  font-style: italic;
}

.mainImage p {
  color: #666;
  font-size: 16px;
  padding-right: 50px;
  margin-top: 10px;
  width: 900px;
  border-right: 20px;
  line-height: 20px;
}

.mainImage p span {
  font-size: 12px;
  opacity: 0.7;
}

/* firstArticle */

.article {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 18px;
}

/*ICONS BOX*/
.main-box-items {
  /* border: 1px solid black; */
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.box-items-left {
  /* border: 1px solid black; */
  width: 300px;
}
.box-items-left p {
  color: #333;
  font-weight: 600;
  text-decoration: underline;
}
.box-items-left p:hover {
  text-decoration: none;
}

.box-items-left span {
  color: #333;
  font-size: 16px;
}

.box-items-right {
  /* border: 1px solid black; */
  width: 300px;
  margin-top: 45px;
  /* font-size: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.box-items-right a {
  font-size: 22px;
  padding-left: 15px;
  opacity: 0.8;
}
.box-items-right a :hover {
  opacity: 0.4;
}
