body {
  font-size: 20px;
  color: #333;
  line-height: 30px;
}
p {
  margin-bottom: 30px;
}

.fixing-navBar {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background-color: white;
}

/* navBar */
.navBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid grey;
  align-items: baseline;
}
.left-navBar {
  /* border: 1px solid black; */
  padding-left: 10px;
}

.left-navBar a {
  margin-right: 20px;
  font-size: 16px;
  opacity: 0.8;
}
.left-navBar a:hover {
  opacity: 0.4;
}

.space {
  font-weight: 600;
  opacity: 0.8;
}
.space:hover {
  text-decoration: underline;
}

.navBar h3 {
  font-weight: 600;
}
.right-navBar {
  align-items: baseline;
}

.right-navBar button {
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 2px;
  height: 32px;
  color: white;
  margin-left: 10px;
  font-weight: 700;
}

/*mainImage*/
.mainImage {
  /* border: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 1000px;
}

.mainImage img {
  width: 1000px;
  height: auto;
}

.mainImage h1 {
  font-size: 35px;
  font-weight: 600;
  /* margin-top: 80px; */
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 300px;
  padding-bottom: 20px;
  line-height: 45px;
  font-style: italic;
}

.mainImage p {
  color: #666;
  font-size: 16px;
  padding-right: 50px;
  margin-top: 10px;
  width: 900px;
  border-right: 20px;
  line-height: 20px;
}

.mainImage p span {
  font-size: 12px;
  opacity: 0.7;
}

/* firstArticle */

.article {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 18px;
}

/*ICONS BOX*/
.main-box-items {
  /* border: 1px solid black; */
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.box-items-left {
  /* border: 1px solid black; */
  width: 300px;
}
.box-items-left p {
  color: #333;
  font-weight: 600;
  text-decoration: underline;
}
.box-items-left p:hover {
  text-decoration: none;
}

.box-items-left span {
  color: #333;
  font-size: 16px;
}

.box-items-right {
  /* border: 1px solid black; */
  width: 300px;
  margin-top: 45px;
  /* font-size: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.box-items-right a {
  font-size: 22px;
  padding-left: 15px;
  opacity: 0.8;
}
.box-items-right a :hover {
  opacity: 0.4;
}

/* second article*/
.article2-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 850px;
  justify-items: ;
  margin-left: calc((100% - 600px) / 2);
  margin-right: auto;
}

.article2 {
  width: 600px;
  /* margin-left: calc((100% - 600px) / 2) */
}

.aside-container {
  /* border: 1px solid black; */
  width: 210px;
  display: flex;
  flex-direction: column;
  padding-top: 650px;
}
.aside-container > h3 {
  /* color: red; */
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 12px;
  margin-bottom: 15px;
  border-bottom: 1px solid gray;
}

.aside-container-box {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.aside-container-box img {
  width: 75px;
  height: 75px;
}

.aside-container-box h3 {
  font-size: 14px;
  /* border: 1px solid black; */
  /* margin: 22px 0  22px 10px; */
  padding-left: 10px;
  padding-top: 5px;
  line-height: 15px;
}
.aside-container-box h3:hover {
  text-decoration: underline;
}

.aside-container-box h3 span {
  font-weight: 700;
}

/* .aside-container-box h3:nth-child(3) {
  color: #326891;
} */
#fourthh3 {
  margin-top: 0px;
}

#subtext {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align: center;
  margin-bottom: 30px;
}
#subtext p {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 1000;
}

#subtext a {
  font-size: 16px;
  color: rgb(50, 104, 145);
  font-weight: 700;
}

.article2-bluelink {
  color: rgb(50, 104, 145);
}

/* article4 */
.article4-footer {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.article4-footer button {
  width: 300px;
}

.article4-icons {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  font-size: 24px;
}

.article4-icons a {
  padding-left: 15px;
  opacity: 0.6px;
}

.article4-icons a :hover {
  color: #666;
}
